body {
  position: absolute;
  background-color: #006666;
}

.header {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1024px;
  height: 768px;
  z-index: 6;

  border-radius: 10px;
  background-color: rgb(51, 153, 153);
  position: absolute;
  left: 20px;
  top: 18px;
  width: 1210px;
  height: 162px;
  z-index: 4;
}

h1 {
  font-size: 72px;
  color: rgb(255, 255, 255);
  text-align: center;
  position: absolute;
  left: 20px;
  top: -20px;
  width: 1210px;
  height: 162px;
  z-index: 5;
}
